<head>
  <meta charset="utf-8">
  <!-- (1) Optimize for mobile versions: http://goo.gl/EOpFl -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- (1) force latest IE rendering engine: bit.ly/1c8EiC9 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title><%= current_page.data.title ? "#{current_page.data.title} | #{config.site_title}" : config.site_title %></title>
  <meta name="description" content="<%= config.description %>" />

  <meta name="HandheldFriendly" content="True" />
  <meta name="MobileOptimized" content="320" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

  <meta name="monetization" content="$coil.xrptipbot.com/M-JuE6jhSaqEFbj4RQ668A">
  
  <link rel="stylesheet" href="//brick.a.ssl.fastly.net/Linux+Libertine:400,400i,700,700i/Open+Sans:400,400i,700,700i">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

  <%= stylesheet_link_tag 'main', media: 'screen' %>
  <%= stylesheet_link_tag 'print', media: 'print' %>
  <%= favicon_tag 'images/favicon.jpg' %>

  <% if current_page.data.title %>
  <meta property="og:title" content="<%= current_page.data.title %>" />
  <% end %>
  <% if current_article %>
  <meta property="og:type" content="article" />
  <meta property="article:author" content="<%= config.author[:name] %>" />
  <meta property="og:description" content="<%=h current_article.summary %>" />
  <% else %>
  <meta property="og:type" content="website" />
  <meta property="og:description" content="<%=h config.description %>" />
  <% end %>
  <meta property="og:site_name" content="<%=h config.site_title %>" />
  <meta property="og:image" content="<%= config.site_root %><%= current_page.data.image ? current_page.data.image : config.author[:image] %>" />
  <meta property="og:url" content="<%= config.site_root + current_page.url %>" />
  <meta property="og:locale" content="en_GB" />

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@philsturgeon">
  <meta name="twitter:title" content="<%=h current_page.data.title ? "#{current_page.data.title} | #{config.site_title}" : config.site_title %>">
  <meta name="twitter:image:src" content="<%= config.site_root %><%= current_page.data.image ? current_page.data.image : config.author[:image] %>">
  <meta name="twitter:url" content="<%= config.site_root + current_page.url %>">
  <meta name="twitter:description" content="<%=h current_article ? current_article.summary : config.description %>">
  <meta name="twitter:creator" content="@philsturgeon">

  <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
</head>
