<!DOCTYPE html>
<html>

  <%= partial "includes/head.html" %>

  <body>

    <%= partial "includes/header" %>
    <%= partial "includes/hero" %>

    <!-- content start -->

    <div class="page-content">
      <div class="wrapper">
        <%= yield %>
      </div>
    </div>

    <!-- content end -->

    <%= partial "includes/footer" %>
    <%= partial "includes/javascripts.html" %>

  </body>

</html>
