---
pageable: true
---

%main.content{role: "main"}
  .cf.frame
    - page_articles.each do |article|
      %article.post{itemscope: true, itemtype: "http://schema.org/BlogPosting", role: "article"}
        .article-item
          %header.post-header
            %h2.post-title{itemprop: "name"}
              = link_to article.title, article, itemprop: 'url'
          %section.post-excerpt{itemprop: "description"}
            %p= article.summary
          .post-meta
            %time{datetime: article.date}
              = article.date.strftime('%b %e %Y')
            - article.tags.each do |tag|
              %span{class: "post-tag-#{tag}"}
                = link_to "##{tag}", tag_path(tag)

= partial "includes/pagination", locals: {paginate: paginate, num_pages: num_pages, prev_page: prev_page, page_number: page_number, next_page: next_page}
