---
pageable: true
per_page: 20
---

%header.blog-header
  %a.blog-logo{href: "/", style: "background-image: url(#{config.logo})"}
    =h config.site_title
  %h1.blog-title=h config[:site_title]
  %h2.blog-description=h config[:description]

%main.content{role: "main"}
  .cf.frame
    %h3 Articles tagged '#{tagname}'

    - page_articles.each do |article|
      %li
        = link_to article.title, article
        %time{datetime: article.date}
          = article.date.strftime('%b %e %Y')

= partial "includes/pagination", locals: {paginate: paginate, num_pages: num_pages, prev_page: prev_page, page_number: page_number, next_page: next_page}
